{% extends 'base.html' %}

{% block content %}

<section class="hero">
  <div class="hero-icon">🎙</div>

  <h1>Welcome to PodVault</h1>

  <p>
    Discover, review, and organize your favorite podcasts in one place.
  </p>

  <div class="hero-actions">
    <a class="btn" href="{% url 'podcast_list' %}">Browse Podcasts</a>

    {% if user.is_authenticated %}
      <a class="btn secondary-btn" href="{% url 'playlist_list' %}">
        My Playlists
      </a>
    {% else %}
      <a class="btn secondary-btn" href="{% url 'signup' %}">
        Create Account
      </a>
    {% endif %}
  </div>
</section>

  {% if not user.is_authenticated %}
    <section>
      <form action="{% url 'home' %}" method="post">
        <h2>Login</h2>

        {% csrf_token %}
        {{ form.as_p }}

        <input type="hidden" name="next" value="{{ next }}">

        <button type="submit">Login</button>

        <p>
          Don't have an account?
          <a href="{% url 'signup' %}">Sign up here</a>
        </p>
      </form>
    </section>
  {% else %}
    <section>
      <h2>Welcome back, {{ user.username }}</h2>
    </section>
  {% endif %}

{% endblock %}
